.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #a3a3bb;
  --primary-color: #166216;
  --secondary-color: #34e034;
  --inverted-primary-color: #132283;
  --inverted-secondary-color: #2f94d3;
}