:root {
    --bg-color: #a3a3bb;
    --inverted-bg-color: #0e0e75;
    --primary-color: #132283;
    --secondary-color: #2f94d3;
    --inverted-primary-color: #166216;
    --inverted-secondary-color: #34e034;
  }

